  <nav class="navbar navbar-default navbar-fixed-top" style="width: 100%;">
  <div class="container">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>                        
          </button>
      <a class="navbar-brand" href="/" ><span><img src="assets/logoODAMediumNobackground.png" style="height: 200%; margin-top: -10px"></span></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#about">{{headerModelObj.aboutUs}}</a></li>
        <li><a href="#pochaHouse">{{headerModelObj.pochaHouse}}</a></li>
        <li><a href="#community">{{headerModelObj.community}}</a></li>
        <li><a href="#allies">{{headerModelObj.allies}} </a></li>
        <li><a href="#inTheNews">{{headerModelObj.inTheNews}}</a></li>
        <li><a href="#donate">{{headerModelObj.donate}}</a></li>
        <li><a href="#contactUs">{{headerModelObj.contactUs}}</a></li>
      </ul>
    </div>
  </div>
</nav>
