<div id="contactUs" class="col-sm-12 container-fluid bg-grey">
  <h1>{{title}}</h1>
  <br>

  <div class="col-sm-4">
    <div class="col-sm-12">
      <h4 class="contact-us">José María Marroquí 83</h4>
      <h4 class="contact-us">Colonia Centro, Centro, 06000 Centro, CDMX</h4>
      <h4 class="contact-us"><strong>Tel :</strong> 044 55 5925 9689</h4>
      <h4 class="contact-us"><strong>email :</strong> info@odamexico.org</h4>
      <br>

      <a href="https://www.facebook.com/OtrosDreams" target="_blank" class="btn fa fa-facebook"></a>
      <a href="https://twitter.com/OtrosDreams_ODA" target="_blank" class="btn fa fa-twitter"></a>
      <a href="https://www.youtube.com/channel/UCo7OEIlqe4u8jM0bSiB4j5A" target="_blank" class="btn fa fa-youtube"></a>
      <a href="https://www.instagram.com/pochxHouse/" target="_blank" class="btn fa fa-instagram"></a>

    </div>
  </div>
  <div class="col-sm-8" style="border:solid 1px; padding: 0px;">
   <a href="https://www.google.com/maps/place/Pocho+House/@19.4308447,-99.1460216,17z/data=!4m5!3m4!1s0x85d1ff78a748c049:0x7b2cd83b718a3b13!8m2!3d19.4308447!4d-99.1438329" target="_blank">
    <img src="assets/pochoHouseMap.png" style="width: 100%">
    </a>
  </div>
</div>