<div style="z-index: -1; background: 	#343d46; display: flex; height: 500px;">
  

  <div class="col-sm-12" style="padding: 0px 5px 0px 5px;">

    <video preload="preload" id="video" autoplay  loop="loop" style="height:500px; width: 100%; opacity: 0.5; object-fit: fill;">
      <source src="assets/videoHeaderPix.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>

    <div class="col-sm-12  overlay-desc">
      <div class="col-sm-12" style="text-align: center;">
        <h1 style="color:#f9f9f9"><strong> Otros Dreams en Acción </strong></h1> 
        <h4 style="color:#f9f9f9"><strong>#DeAquíyDeAllá</strong></h4> 
        </div>
    </div>
  </div>

  
</div>

<div id="about" class="container-fluid bg-grey">
  <div class="row">
    <div class="col-sm-8">
      <h1>{{aboutUsModelObj.title}} </h1><br>
      <h4>{{aboutUsModelObj.desc1}}</h4>
      <h4>{{aboutUsModelObj.desc2}}</h4>
    </div>
    <div class="col-sm-4">
      <img src="{{imgSrcEsp}}" alt="Otros Dreams en Accion" style="width:100%; height: 50%;border-radius: 15px; border: solid;box-shadow: 10px 10px grey;">
    </div>
  </div>
</div>

