<div id="allies" class="container-fluid ">
  <div class="text-center">
    <h1 >{{title}}</h1>
    <br>
    <h4>{{desc}}</h4>
    <br>
    <div class="row ">
      <div class="col-sm-3">
        <a href="https://www.facebook.com/deportadosunidos/" target="_blank">
          <img class="logo-box" src="assets/deportadosUnidosLogo.jpg" style="height: 100px;">
          <h4>Deportados Unidos en la Lucha </h4>
        </a>
      </div>
      <div class="col-sm-3">
        <a href="https://holacode.net/" target="_blank">
          <img class="logo-box" src="assets/holaCode.png" style="height: 100px;">
          <h4>Hola Code </h4>
        </a>
      </div>
      <div class="col-sm-3">
        <a href="http://www.ssipchicago.org/" target="_blank">
          <img class="logo-box" src="assets/sspi.png" style="height: 100px;">
          <h4> SSIP Chicago</h4>
        </a>
      </div>
      <div class="col-sm-3">
        <a href="https://www.udayton.edu/international/connect/udel/index.php" target="_blank">
          <img class="logo-box" src="assets/udayton.png" style="height: 100px;">
          <h4>University of Dayton </h4>
        </a>
      </div>
    </div>

      <br>
      <div class="row ">
        <div class="col-sm-3">
            <a href="http://imumi.org/" target="_blank">
              <img class="logo-box" src="assets/imumi.png" style="height: 100px;">
              <h4>Instituto de las Mujeres en la Migración (Imumi)</h4>
            </a>
        </div>
        <div class="col-sm-3">
            <a href="https://www.facebook.com/profile.php?id=100009421660664" target="_blank">
              <img class="logo-box" src="assets/camefi.png" style="height: 100px;">
              <h4>CAFAMI </h4>
            </a>
        </div>
        <div class="col-sm-3">
            <a href="https://www.facebook.com/pages/Unified-US-Deported-Veterans-Resource-Center/782934635206404  " target="_blank">
              <img class="logo-box" src="assets/unifiedVets.jpg" style="height: 100px;">
              <h4>Unified U.S. Deported Veterans </h4>
            </a>
        </div>
        <div class="col-sm-3">
          <a href="http://www.migrantologos.mx/" target="_blank">
            <img class="logo-box" src="assets/migrantologos.jpg" style="height: 100px;">
            <h4>Migrantólogos </h4>
          </a>
        </div>
      </div><br>

      <div class="row ">
          <div class="col-sm-2">
            <a href="https://www.facebook.com/Madres-soñadoras-Internacional-DREAMers-Moms-UsaTijuana-AC-756563004375991/ " target="_blank">
              <img class="logo-box" src="assets/dreamerMoms.jpg" style="height: 100px;">
              <h4>Dreamers Moms</h4>
            </a>
          </div>
          <div class="col-sm-3">
            <a href="https://www.instagram.com/fck_la_migra/" target="_blank">
              <img class="logo-box" src="assets/fuck_la_migra.jpg" style="height: 100px;">
              <h4>Fuck La migra </h4>
            </a>
          </div>
          <div class="col-sm-2">
            <a href="http://www.dhia.mx/" target="_blank">
              <img class="logo-box" src="assets/dhia.png" style="height: 100px;">
              <h4>DHIA </h4>
            </a>
          </div>
          <div class="col-sm-3">
            <a href="http://www.ameyal-ac.org" target="_blank">
              <img class="logo-box" src="assets/yaoti.png" style="height: 100px;">
              <h4> Yaotlyaocihuatl Ameyal A.C.</h4>
            </a>
          </div>
          <div class="col-sm-2">
            <a href="https://lasvanders.wordpress.com/" target="_blank">
              <img class="logo-box" src="assets/lasVanders.jpeg" style="height: 100px;">
              <h4>LasVanders</h4>
            </a>
          </div>
        </div>
    </div>
  </div>